@import "reset.css";



header {
    width: 100%;
    height: 15vh;
}

header .navbar {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

header .navbar a{
    text-decoration: none;
    margin: 10px 30px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #e3e3e3;
    transition: all .4s ease-in-out;
}

header .navbar a:hover{
    transform: scale(1.3);
    text-shadow: 2px 2px 2px #000000;
}

section {
    width: 100%;
    height: 85%;
    position: relative;
}

section .container{
    width: 90%;
    height: 60vh;
    top: 40px;
    left: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

section .container .layout{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 -5px;
}

section .container .layout .text-block{
    margin-top: 150px;
}

section .container .layout .card1{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .3);
    margin: 0 15px;
    place-self: center;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

section .container .layout .card1:hover {
    transform: scale(1.1);
    background-color: #e3625f;
    -webkit-box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
}

section .container .layout h1{
    padding: 40px;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

section .container .layout p{
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

section .container .layout .icon{
    color: #fff;
    font-size: 5rem;
}



section .container .layout .card2{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .3);
    margin: 0 15px;
    place-self: center;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

section .container .layout .card2:hover {
    transform: scale(1.1);
    background-color: #e3625f;
    -webkit-box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
}

section .container .layout .card3{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .3);
    margin: 0 15px;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

section .container .layout .card3:hover {
    transform: scale(1.1);
    background-color: #e3625f;
    -webkit-box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 14px -1px rgba(0,0,0,0.75);
}