@import "reset.css";


header {
    width: 100%;
    height: 15vh;
}

header .navbar {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar a{
    
}